.title{
    font-size: smaller;
}
.animal{
    font-weight: bold;
    color: blue;
}
.rongeur{
    font-style: italic;
}
.text {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}